.body {
    background-color: rgba(65, 7, 7, 0.951);
}

.banner-card {
    width: 100vw;
    /* margin-top: 2vh; */
    margin-bottom: 0.5vh;
    position: relative;
    height: 70vh;
}

.nvbr {
    color: rgba(255, 227, 11, 0.566);
    background-color: black;
}

.banner-img {
    height: 55vh;
    width: 100%;
}

.banner-title {
    font-size: 55px;
    position: absolute;
    top: 5vh;
    left: 5vw;
    color: rgba(255, 227, 11, 0.566);
}

.banner-text {
    position: absolute;
    font-size: 25px;
    font-weight: bolder;
    color: #ffffff;
    top: 15vh;
    height: 4.5rem;
    margin-left: 5vw;
}

.movies-list {
    background-color: rgba(211, 202, 202, 0.951);
    display: flex;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-card {
    margin: 1rem;
    width: 20vw;
    position: relative;
    color: aliceblue;
}

.movie-title {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.movie-button {
    position: absolute;
    bottom: 2rem;
}